.title {
    font-size: 1.5rem;
    font-weight: bold;
    white-space: nowrap; /* Prevents text wrapping */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  

  .logo {
    height: 50%; /* Makes the logo fit the header height */
    width: auto; /* Keeps original width */
    position: absolute;
    left: 20px; /* Keeps it on the left */
  }  