<h1>Welcome to the soulTec VCF Billing</h1>

<p>Authenticate and then click on "Billing" to proceed to the Billing App.</p>
<br><br>

<ng-container *ngIf="(hasValidAccessToken) as isAuthenticated; else notAuthenticated">
    <button class="btn btn-primary" [routerLink]="['/user']">Show OIDC User</button>
    <button class="btn btn-primary" [routerLink]="['/billing']">Show Billing</button>
</ng-container>

<ng-template #notAuthenticated>
    <p><strong>You are not authenticated</strong></p>
    <button class="btn btn-primary" (click)="tiggerAuthentication()">Authenticate</button>
</ng-template>