<!-- Form for generating charts -->
<h2>Generate Charts</h2>
<form clrForm (submit)="onSubmitGenerateCharts($event)">
  <clr-input-container>
    <label for="chartYear">Year:</label>
    <input clrInput type="text" id="chartYear" [(ngModel)]="chartYear" name="year" required><br><br>
  </clr-input-container>
  <clr-input-container>
    <label for="chartMonth">Month:</label>
    <input clrInput type="text" id="chartMonth" [(ngModel)]="chartMonth" name="month" required><br><br>
  </clr-input-container>

  <button class="btn btn-primary" type="submit" #generateChartsButton>Generate Charts</button>
  <div #generateChartsLoading style="display:none;">Loading...</div>
</form>

<!-- Form for calculating overcommitment -->
<h2>Calculate Overcommitment</h2>
<form clrForm (submit)="onSubmitOvercommitment($event)">
  <clr-input-container>
    <label for="overcommitYear">Year:</label>
    <input clrInput type="text" id="overcommitYear" [(ngModel)]="overcommitYear" name="year" required><br><br>
  </clr-input-container>
  <clr-input-container>
    <label for="overcommitMonth">Month:</label>
    <input clrInput type="text" id="overcommitMonth" [(ngModel)]="overcommitMonth" name="month" required><br><br>
  </clr-input-container>
  <clr-select-container>
    <label for="customerID">Customer ID:</label>
    <select clrSelect id="customerID" [(ngModel)]="selectedCustomerID" name="customerID" required>
      <option *ngFor="let customer of customers" [value]="customer.id">{{ customer.name }}</option>
    </select><br><br>
  </clr-select-container>
  <clr-input-container>
    <label for="limit">Limit:</label>
    <input clrInput type="text" id="limit" [(ngModel)]="limit" name="limit" required><br><br>
  </clr-input-container>
  <button class="btn btn-primary" type="submit" #overcommitButton>Calculate</button>
  <div #overcommitLoading style="display:none;">Loading...</div>
</form>

<!-- Table for customers -->
<h2>Customers</h2>
<table class="table">
  <thead>
    <tr>
      <th class="left">Customer Name</th>
      <th class="left">Customer ID</th>
      <th class="left">Overcommitment</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers">
      <td class="left">{{ customer.name }}</td>
      <td class="left">{{ customer.id }}</td>
      <td class="left" id="overcommit-{{ customer.id }}">{{ customer.overcommitment || '' }}</td>
    </tr>
  </tbody>
</table>

<!-- Available charts -->
<h2>Available Charts</h2>
<ul>
  <li *ngFor="let route of routes">
    <a href="javascript:void(0)" (click)="openChart(route)">{{ route }}</a>
  </li>
</ul>
